body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
   

}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

#gameStart {
    position: absolute;
}

h1, h3 {
    font-family: "Times New Roman";
    
    text-align: center;
    
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid black;
}

#restartButton:hover {
    background-color:  darkgoldenrod;
}
h3:hover {
    background-color:  darkgoldenrod;
}

#scoreboard {
    margin: 0px;
}

hover {
    border: 2px solid black;
}

#startButton {
    border: 2px solid black;
}